[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "/home/florian/Bilder/Wallpaper/wallhaven2.png"
Restart=on-failure
